# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.DS_Store
.Python
env/
venv/
*.env

# ======================
# Django
# ======================
db.sqlite3
media/
staticfiles/
*.log

# ======================
# PDF 出力一時ファイル
# ======================
*.pdf
*.tmp
*.bak

# ======================
# dotenv / secrets
# ======================
.env

# ======================
# Docker / PostgreSQL
# ======================
pgdata/
*.pid
*.sock

# ======================
# VSCode / JetBrains IDE
# ======================
.vscode/
.idea/

# ======================
# Mac特有
# ======================
.DS_Store